/* vim: set ft=css foldmethod=marker : */

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* ---global css variables {{{*/
:root {
  --color-h-primary: 174;
  --color-h-error:   2;
  --color-h-warning:  36;

  --color-s-0:  41%;
  --color-s-1:  41%;
  --color-s-2:  42%;
  --color-s-3:  42%;
  --color-s-4:  63%;
  --color-s-5: 100%;
  --color-s-6: 100%;
  --color-s-7: 100%;
  --color-s-8: 100%;
  --color-s-9: 100%;

  --color-l-0: 91%;
  --color-l-1: 79%;
  --color-l-2: 65%;
  --color-l-3: 51%;
  --color-l-4: 40%;
  --color-l-5: 29%;
  --color-l-6: 27%;
  --color-l-7: 24%;
  --color-l-8: 21%;
  --color-l-9: 15%;

  --color-h-mono: var(--color-h-primary);
  --color-s-mono:  10%;
  --color-l-mono-0: 99%;
  --color-l-mono-1: 96%;
  --color-l-mono-2: 93%;
  --color-l-mono-3: 88%;
  --color-l-mono-4: 74%;
  --color-l-mono-5: 62%;
  --color-l-mono-6: 46%;
  --color-l-mono-7: 38%;
  --color-l-mono-8: 26%;
  --color-l-mono-9: 13%;

  --border-radius-sm: 5px;

  --shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-md: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 1px 6px 1px rgba(0, 0, 0, 0.15);

  --transition-fast: all 0.1s ease-out;
  --transition-slow: all 0.3s ease-out;
}/*}}}*/

/* ---general setups {{{*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-9));
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-0));
}
/*}}}*/

/* ---spinner {{{
  https://codepen.io/supah/pen/BjYLdW
  Follow me on
  Dribbble: https://dribbble.com/supahfunk
  Twitter: https://twitter.com/supahfunk
  Codepen: https://codepen.io/supah/
 */
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-6));
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

#loader-container {
  position: fixed;
  width: 100%;
  height: calc(100vh - 6rem);
  background-color: #fffa;
}

.hidden {
  display: none;
}
/*}}}*/

input {
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-9));
}

.btn {
  --btn-h: var(--color-h-primary);
  padding: 1.5rem 1rem;
  min-width: 9ch;
  border-radius: var(--border-radius-sm);
  border: 1px solid;
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-0));
  border-color: hsl(var(--btn-h), var(--color-s-4), var(--color-l-4));
  background-color: hsl(var(--btn-h), var(--color-s-4), var(--color-l-4));
  outline-color: hsl(var(--color-h-primary), var(--color-s-4), var(--color-l-4));
}

.btn:hover {
  border-color: hsl(var(--btn-h), var(--color-s-5), var(--color-l-5));
  background-color: hsl(var(--btn-h), var(--color-s-5), var(--color-l-5));
  cursor: pointer;
}

.btn:active {
  transform: translateY(1px);
}

.btn-warning {
  --btn-h: var(--color-h-warning);
}

.btn-error {
  --btn-h: var(--color-h-error);
}

.btn-revert {
  color: hsl(var(--btn-h), var(--color-s-5), var(--color-l-5)); 
  border-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-0));
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-0));
}

.btn-revert:hover {
  border-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-2));
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-2));
}

.btn-neutral {
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-9));
  border-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-2));
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-2));
}

.btn-neutral:hover {
  border-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-3));
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-3));
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  height: 6rem;
  box-shadow: var(--shadow-sm);
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-0));
}

.navbar-content {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  position: relative;
}

.navbar-logo {
  padding: 1rem 0;
  flex-basis: max-content;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  font-size: 2rem;
}

.navbar-logo span {
  margin-left: 0.5ch;
  color: hsl(var(--color-h-primary), var(--color-s-4), var(--color-l-4));
  text-transform: uppercase;
}

.navbar-search {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  flex-grow: 1;
  max-width: 60rem;
}

.navbar-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-6));
  background-color: transparent;
}

.navbar-icon svg {
  height: 70%;
  fill: currentColor;
}

.navbar-icon--small svg {
  height: 50%;
}

.navbar-button {
  border: none;
  border-radius: 50%;
  transition: var(--transition-fast);
}

.navbar-button:active {
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-2));
}

.navbar-button:focus,
.navbar-button:focus-visible {
  outline-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-6));
}

.navbar-search-form {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  transition: var(--transition-slow);
}

.navbar-search-input {
  flex-grow: 1;
  height: 80%;
  border: none;
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-2));
  padding: 1rem 5rem;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-fast);
}

.navbar-search-input::placeholder {
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-6));
  transition: var(--transition-slow);
}

#navbar-search-icon {
  position: absolute;
  left: 0.5rem;
}

#navbar-search-submit {
  position: absolute;
  right: 0.5rem;
  opacity: 0;
  pointer-events: none;
}

.navbar-search:focus-within .navbar-search-input {
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-0));
  outline: none;
  box-shadow: var(--shadow-md);
}

.navbar-search:focus-within #navbar-search-submit {
  opacity: 1;
  pointer-events: initial;
  cursor: pointer;
}

.navbar-filter {
  position: relative;
}

.navbar-filter-form {
  position: absolute;
  top: 6rem;
  right: 0;
  width: calc(100vw - 4rem);
  max-width: 50rem;
  padding: 2rem 3rem;

  display: none;
  flex-direction: column;
  align-items: stretch;

  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-0));
  box-shadow: var(--shadow-lg);
  overflow: hidden;
  border-radius: var(--border-radius-sm);
}

.navbar-filter-form label {
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-7));
}
.navbar-filter-form > *:not(:last-child) {
  margin-bottom: 1rem;
}

.navbar-filter-form input, .navbar-filter-form select {
  border-radius: var(--border-radius-sm);
  border: 1px solid hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-7));
  background-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-0));
  outline-color: hsl(var(--color-h-primary), var(--color-s-4), var(--color-l-4));
  padding: 0.5rem 1rem;
}

.navbar-filter-form > * {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar-filter-form > * > * {
  flex-grow: 1;
}

.navbar-filter-form > * > span {
  flex-grow: 0;
  flex-basis: 9ch;
}

.navbar-filter-form .btn {
  flex-grow: 0;
}

.navbar-filter-form input[type="time"] {
  margin-left: 1rem;
}

.navbar-filter-form > fieldset {
  border: 1px solid hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-7));
  padding: 0.5rem;
}

.navbar-filter-form > fieldset legend {
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-7));
}

.navbar-filter-form fieldset .fieldset-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar-filter-form fieldset .fieldset-content > * {
  margin: 2rem 1rem;
}

.navbar-filter-form fieldset .fieldset-content label input[type="checkbox"] {
  display: none;
}

.navbar-filter-form fieldset .fieldset-content label input[type="checkbox"] ~ span {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1rem 2rem;
  border: 1.5px solid;
  border-radius: var(--border-radius-sm);
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-4));
  border-color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-4));
}

.navbar-filter-form fieldset .fieldset-content label input[type="checkbox"]:checked ~ span {
  color: hsl(var(--color-h-primary), var(--color-s-6), var(--color-l-6));
  border-color: hsl(var(--color-h-primary), var(--color-s-6), var(--color-l-6));
}

.navbar-filter-form.opened {
  display: flex;
}

.articles-list {
  padding: 4rem 2rem;
}

.articles-list > * {
  margin-top: 6rem;
}

.article-piece {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-6));
}

.article-piece-img-wrapper {
  flex: 0 0 30%;
  max-height: 40rem;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.article-piece-img-link {
  display: contents;
}

.article-piece-img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-sm);
}

.article-piece-content-wrapper {
  flex: 0 0 65%;
}

.article-piece-title {
  font-size: 2.2rem;
}

.article-piece-title-link:link,
.article-piece-title-link:visited {
  color: currentColor;
  text-decoration: none;
}

.article-piece-title-link:hover,
.article-piece-title-link:active {
  text-decoration: underline;
}

.article-piece-time {
  font-weight: 300;
  font-style: italic;
  margin-top: 1rem;
}

.article-piece-summary {
  margin-top: 3rem;
}

.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(var(--color-h-mono), var(--color-s-mono), var(--color-l-mono-6));
}

.error-icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 2rem;
}

.error-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.error-text {
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .article-piece {
    flex-direction: column;
  }
  
  .article-piece-img-wrapper {
    max-width: 480px;
    max-height: 480px;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
  }
}
